{{/* Enhanced SEO Meta Tags */}}
{{- $title := partial "data/title" . -}}
{{- $description := partialCached "data/description" . .RelPermalink -}}
{{- $keywords := .Params.keywords | default .Site.Params.seo.keywords -}}
{{- $author := .Params.author | default .Site.Params.seo.author | default .Site.Title -}}
{{- $ogImage := "" -}}
{{- if .IsPage -}}
  {{- $slug := ( .Params.slug | default .Slug | default .File.BaseFileName ) | urlize -}}
  {{- $ogStaticPath := printf "static/og/%s.png" $slug -}}
  {{- if fileExists $ogStaticPath -}}
    {{- $ogImage = printf "/og/%s.png" $slug -}}
  {{- end -}}
{{- end -}}
{{- $image := $ogImage | default (.Params.image | default .Site.Params.seo.image | default "/img/avatar.png") -}}
{{- $canonical := .Permalink -}}

{{/* Basic Meta Tags */}}
<meta name="description" content="{{ $description }}">
{{ with $keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}
<meta name="author" content="{{ $author }}">
<meta name="robots" content="{{ if .Params.noindex }}noindex{{ else }}index{{ end }}, {{ if .Params.nofollow }}nofollow{{ else }}follow{{ end }}">

{{/* Canonical URL */}}
{{ if .Site.Params.seo.canonical }}
<link rel="canonical" href="{{ $canonical }}">
{{ end }}

{{/* Open Graph / Facebook */}}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ $canonical }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ $image | absURL }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ if .IsPage }}
<meta property="article:author" content="{{ $author }}">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{ if .Lastmod }}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
{{ end }}
{{ with .Params.tags }}
{{ range . }}
<meta property="article:tag" content="{{ . }}">
{{ end }}
{{ end }}
{{ end }}

{{/* Twitter Card */}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ $canonical }}">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ $image | absURL }}">
{{ with .Site.Params.seo.twitter }}
<meta name="twitter:site" content="{{ . }}">
<meta name="twitter:creator" content="{{ . }}">
{{ end }}

{{/* Additional SEO Meta Tags */}}
<meta name="theme-color" content="#34495e">
<meta name="msapplication-TileColor" content="#34495e">
<meta name="application-name" content="{{ .Site.Title }}">

{{/* Google Search Console Verification */}}
{{ with .Site.Params.seo.googleSiteVerification }}
<meta name="google-site-verification" content="{{ . }}" />
{{ end }}

{{/* Language and Geo */}}
<meta name="language" content="{{ .Site.LanguageCode }}">
<meta name="geo.region" content="US">
<meta name="geo.placename" content="United States">

{{/* Mobile and Responsive */}}
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">

{{/* Preconnect to external domains for performance */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
